# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
appsettings.Development.json
.env
connectionstring.json

# Node (if used)
#node_modules/
#dist/